.formGrup{
  display: flex;
  justify-content: center; /* orizontal */
  align-items:center; /* vertical */
  height: 50vh; 
  width: 100vw;
  background: #6e40031e;
}


#form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    input, .bt-add {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .bt-add {
      background: #007bff;
      color: white;
      border: none;
      cursor: pointer;
    }

    .bt-add:hover {
      background: #0056b3;
    }